* {
    box-sizing: border-box;
}
body {
    background: #fafafa;
}

.todo-cnt {
    max-width: 60rem;
    margin: 0 auto;
}
.todo-form {
    font-family: sans-serif;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 1rem;
    background: #fff;
}
.todo-form-row {
    overflow: hidden;
}
.todo-form-label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}
.todo-form-message {
    padding: 1rem;
    height: 10rem;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    resize: vertical;
    font-family: sans-serif;
}
.todo-form-button {
    padding: 0.8rem 1.6rem;
    background: #f15c5c;
    color: #fff;
    border: 0;
    border-radius: 0.188rem;
    transition: 0.4s all;
    cursor: pointer;
    float: right;
}
.todo-form-button:hover {
    background: #ed2d2d;
}